/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
/app/phpunit.xml
/build/
/src/FrontendBundle/Resources/public/node_modules/
/vendor/
/bin/
/web/js/*
/web/css/*
/composer.phar
/composer.lock
/src/FrontendBundle/Resources/public/bundle.js
/src/FrontendBundle/Resources/public/bundle.js.map
!/web/imgs/symbol/
*.log
